# AWS S3 / S3-compatible Storage (e.g., Railway Buckets)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_ENDPOINT=
AWS_REGION=us-east-1
AWS_BUCKET_NAME=

# Server Configuration
PORT=3001

# Push Notification VAPID keys
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=

# Database Configuration
DATABASE_URL=
